.language-selector {
    justify-content: flex-end;
    display: flex;
    margin: 36px 36px 0;
    height: 24px;

    &__option {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0;
        border: 0;
        background-color: #fff;
        width: 82px;

        & > img {
            width: 24px;
            height: 24px;
        }

        & > span {
            margin-left: 6px;
            font-size: 12pt;
            text-transform: uppercase;
        }

        &--selected {
            & > span {
                font-weight: 500;
                text-decoration: underline;
            }
        }

        &::after {
            content: '/';
            width: 28px;
            text-align: center;
            font-size: 12pt;
            pointer-events: none;
        }

        &:last-child {
            width: 52px;

            &::after {
                content: '';
                width: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .language-selector {
        margin: 24px 24px 0;
    }
}