.work-experience {
    margin: 0 0 36px;

    &__header {
        display: flex;
        justify-content: space-between;
        height: 36px;

        & > h4 {
            margin: 0;
            font-size: 14pt;
            font-weight: 600;
            cursor: default;
            line-height: 36px;
        }

        & > span {
            margin: 0;
            font-size: 12pt;
            cursor: default;
            color: var(--dark-gray);
            line-height: 36px;
        }
    }

    &__subtitle {
        font-size: 13pt;
        font-weight: 600;
        cursor: default;
        line-height: 28px;
        color: var(--dark-orange);
    }

    &__section {
        display: block;
        font-weight: 600;
        margin-top: 8px;
        font-size: 11pt;
    }

    &__description {
        font-size: 12pt !important;
        margin: 4px 0 0;
        cursor: default;
    }

    &__projects {
        work-project {
            &::after {
                content: '';
                display: block;
                margin: 16px auto 0;
                height: 1px;
                width: 45%;
                background-color: var(--light-gray);
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }

    &:first-of-type {
        margin-top: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    .work-experience {
        &__header {
            & > h4 {
                color: var(--dark-white);
            }

            & > span {
                color: var(--light-black);
            }
        }

        &__description {
            color: var(--dark-white);
        }

        &__section {
            color: var(--dark-white);
        }

        &__projects {
            work-project {
                &::after {
                    background-color: var(--medium-black);
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .work-experience {
        &__header {
            display: block;
            height: unset;
        }
    }
}