<div class="work-experience">
    <div class="work-experience__header">
        <h4>{{ experience?.field }}</h4>
        <span>{{ experience?.time }}</span>
    </div>
    <label class="work-experience__subtitle">
        {{ experience?.company }}
    </label>
    <span class="work-experience__section">
        {{ translateService.activeTranslation?.labels?.workDescription }}
    </span>
    <p class="work-experience__description" [innerHTML]="experience?.description"></p>
    <ng-container *ngIf="experience?.projects?.length">
        <span class="work-experience__section">
            {{ translateService.activeTranslation?.labels?.workExperience }}
        </span>
        <section class="work-experience__projects">
            <work-project *ngFor="let proj of experience?.projects" [project]="proj"></work-project>
        </section>
    </ng-container>
</div>