<div class="work-experience">
    <div class="work-experience__header">
        <h4>{{ experience?.company }}</h4>
        <span>{{ experience?.time }}</span>
    </div>
    <label class="work-experience__field">
        {{ experience?.field }}
    </label>
    <span class="work-experience__section">
        Experiências
    </span>
    <p class="work-experience__description" [innerHTML]="experience?.description"></p>
    <span class="work-experience__section">
        Projetos
    </span>
    <section class="work-experience__projects">
        <work-project></work-project>
        <work-project></work-project>
    </section>
</div>