<section
    class="work-project"
    [ngClass]="{'work-project--active': open}">
    <div class="work-project__header">
        <button (click)="toggleState()">
            {{ open ? '-' : '+' }}
        </button>
        <label>{{ project?.name }}</label>
    </div>
    <div class="work-project__body">
        <p class="work-project__body__description" [innerHTML]="project?.description"></p>
        <span class="work-project__body__period">
            {{ project?.period }}
        </span>
        <label class="work-project__body__techs">
            {{ project?.stack }}
        </label>
    </div>
    <p class="work-project__description">{{ project?.introduction }}</p>
</section>