<language-selector></language-selector>
<main>
    <section class="header">
        <div class="header__info">
            <div class="header__info__photo">
                <img [src]="data.photo"/>
            </div>
            <div class="header__info__about">
                <h1>
                    {{ data.name }}
                </h1>
                <h2>
                    {{ data.title }}
                </h2>
                <p>
                    {{ data.phrase }}
                </p>
            </div>
        </div>
        <section class="header__connections">
            <a
                target="__blank"
                [href]="data.links.github"
                class="header__connections__item">
                <img src="../assets/img/github.png" />
                <label>GitHub</label>
            </a>
            <a
                target="__blank"
                [href]="data.links.linkedin"
                class="header__connections__item">
                <img src="../assets/img/linkedin.png" />
                <label>LinkedIn</label>
            </a>
            <a
                target="__blank"
                [href]="data.links.hackerrank"
                class="header__connections__item">
                <img src="../assets/img/hackerrank.png" />
                <label>HackerRank</label>
            </a>
            <a
                [href]="data.links.contact"
                class="header__connections__item header__connections__item--contact">
                <label>Entrar em contato</label>
            </a>
        </section>
    </section>
    <section class="description">
        <h3 class="description__title">
            Sobre Mim
        </h3>
        <p class="description__text">
            {{ data.description }}
        </p>
    </section>
    <div class="experiences">
        <section class="work">
            <label class="work__title">
                Experiências
            </label>
            <work-experience *ngFor="let exp of data.works" [experience]="exp"></work-experience>
        </section>
        <section class="skills">
            <label class="skills__title">
                Habilidades
            </label>
            <button
                title="Ajuda"
                class="skills__help"
                [ngClass]="{'skills__help--active': expHelpActive}"
                (click)="changeHelpState()">
                ?
            </button>
            <div
                class="skills__help-text"
                [ngClass]="{'skills__help-text--active': expHelpActive}">
                Profissional - Trabalhei com esta tecnologia diariamente
                <br/>Experiente - Utilizei esta tecnologia regularmente
                <br/>Avançado - Utilizei esta tecnologia em alguns projetos
            </div>
            <skill-category *ngFor="let skill of data.skills" [skill]="skill"></skill-category>
        </section>
    </div>
</main>