<div class="language-selector">
    <div class="language-selector__option">
        <img src="../assets/img/us_flag.png" />
        <span>EN</span>
    </div>
    <span class="language-selector__separator"></span>
    <div class="language-selector__option language-selector__option--selected">
        <img src="../assets/img/brazil_flag.png" />
        <span>PT</span>
    </div>
</div>
<main>
    <section class="header">
        <div class="header__photo">
            <img [src]="data.photo"/>
        </div>
        <div class="header__info">
            <div class="header__info__about">
                <h1>
                    {{ data.name }}
                </h1>
                <h2>
                    {{ data.title }}
                </h2>
                <p>
                    {{ data.phrase }}
                </p>
            </div>
            <section class="header__info__connections">
                <a
                    target="__blank"
                    [href]="data.links.github"
                    class="header__info__connections__item">
                    <img src="../assets/img/github.png" />
                    <label>GitHub</label>
                </a>
                <a
                    target="__blank"
                    [href]="data.links.linkedin"
                    class="header__info__connections__item">
                    <img src="../assets/img/linkedin.png" />
                    <label>LinkedIn</label>
                </a>
                <a
                    target="__blank"
                    [href]="data.links.hackerrank"
                    class="header__info__connections__item">
                    <img src="../assets/img/hackerrank.png" />
                    <label>HackerRank</label>
                </a>
                <a
                    [href]="data.links.contact"
                    class="header__info__connections__item header__info__connections__item--contact">
                    <label>Entrar em contato</label>
                </a>
            </section>
        </div>
    </section>
    <section class="description">
        <h3 class="description__title">
            Sobre Mim
        </h3>
        <p class="description__text">
            {{ data.description }}
        </p>
    </section>
    <div class="experiences">
        <section class="experiences__work">
            <label class="experiences__work__title">
                Experiências
            </label>
            <div class="experiences__work__item" *ngFor="let exp of data.works">
                <div class="experiences__work__item__header">
                    <h4>{{ exp.company }}</h4>
                    <span>{{ exp.time }}</span>
                </div>
                <label class="experiences__work__item__field">
                    {{ exp.field }}
                </label>
                <p class="experiences__work__item__description" [innerHTML]="exp.description"></p>
            </div>
        </section>
        <section class="experiences__skills">
            <label class="experiences__skills__title">
                Habilidades
            </label>
            <button
                title="Ajuda"
                class="experiences__skills__help"
                [ngClass]="{'experiences__skills__help--active': expHelpActive}"
                (click)="changeHelpState()">
                ?
            </button>
            <div
                class="experiences__skills__help-text"
                [ngClass]="{'experiences__skills__help-text--active': expHelpActive}">
                Profissional - Trabalhei com esta tecnologia diariamente
                <br/>Experiente - Utilizei esta tecnologia regularmente
                <br/>Avançado - Utilizei esta tecnologia em alguns projetos
            </div>
            <div class="experiences__skills__category" *ngFor="let skill of data.skills">
                <label class="experiences__skills__category__title">{{ skill.category }} </label>
                <div class="experiences__skills__item" *ngFor="let item of skill.items">
                    <div class="experiences__skills__item__title">
                        {{ item.name }}
                    </div>
                    <div class="experiences__skills__item__rate">
                        <div class="experiences__skills__item__rate__tag">
                            {{
                                item.level === 3 ? 'Profissional' :
                                    item.level === 2 ? 'Experiente' :
                                        item.level === 1 ? 'Avançado' : 'Conhecido'
                            }}
                        </div>
                        <div class="experiences__skills__item__rate__tag">
                            {{ item.exp }} exp.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>