.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    contain: content;
    background-color: var(--medium-white);
    z-index: 1;
    pointer-events: none;
    opacity: 1;

    .loading {
        // Duration of animation part
        --duration-part-animation: .15s;
        // Interval between animation parts
        --interval-part-animation: .15s;

        background: transparent;
        width: 112px;
        height: 112px;
        border-radius: 36px;
        position: relative;

        &__part {
            width: 10px;
            border-radius: 36px;
            position: absolute;
            contain: content;
            background-color: transparent;

            &::after {
                content: "";
                background: var(--dark-orange);
                position: absolute;
                width: 10px;
                border-radius: 36px;
            }

            &--1 {
                left: 56px;
                transform: rotate(-12deg);
                top: 19px;
                height: 86px;
            }

            &--2 {
                left: 48px;
                transform: rotate(116deg);
                top: 72px;
                height: 40px;
            }

            &--3 {
                left: 58px;
                transform: rotate(226deg);
                top: 25px;
                height: 74px;
            }

            &--4 {
                left: 51px;
                transform: rotate(114deg);
                height: 72px;
                top: -10px;
            }
        }
    }

    &--active {
        .loading {
            &__part {
                &::after {
                    height: 0;
                    animation: part-fill var(--duration-part-animation);
                    animation-fill-mode: forwards;
                }

                &--1 {
                    &::after {
                        background: linear-gradient(180deg, var(--medium-orange) 0%, var(--light-orange) 45%, var(--dark-orange) 90%);
                    }
                }

                &--2 {
                    &::after {
                        animation-delay: var(--interval-part-animation);
                        background: linear-gradient(322deg, var(--light-orange) 0%, var(--dark-orange) 90%);
                    }
                }

                &--3 {
                    &::after {
                        animation-delay: calc(var(--interval-part-animation) * 2);
                        background: linear-gradient(36deg, var(--medium-orange) 0%, var(--light-orange) 85%);
                    }
                }

                &--4 {
                    &::after {
                        animation-delay: calc(var(--interval-part-animation) * 3);
                        background: linear-gradient(236deg, var(--medium-orange) 0%, var(--light-orange) 85%);
                    }
                }
            }
        }
    }

    &--inactive {
        transition-property: opacity, height, width, visibility;
        transition-delay: 0s, .6s, .6s, .6s;
        transition-duration: .3s, 0s, 0s, 0s;
        opacity: 0;
        height: 0;
        width: 0;
        visibility: hidden;
    }
}

@keyframes part-fill {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .loading-container {
        background-color: #121212;
    }
}