.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    contain: content;
    background-color: var(--white);
    z-index: 1;

    .loading {
        width: 112px;
        height: 112px;
        border-radius: 36px;
        position: relative;

        &__part {
            width: 10px;
            border-radius: 36px;
            position: absolute;
            contain: content;

            &::after {
                content: "";
                position: absolute;
                width: 10px;
                border-radius: 36px;
            }

            &--1 {
                left: 56px;
                transform: rotate(-12deg);
                top: 19px;
                height: 86px;
            }

            &--2 {
                left: 48px;
                transform: rotate(116deg);
                top: 72px;
                height: 40px;
            }

            &--3 {
                left: 58px;
                transform: rotate(226deg);
                top: 25px;
                height: 74px;
            }

            &--4 {
                left: 51px;
                transform: rotate(114deg);
                height: 72px;
                top: -10px;
            }
        }
    }

    &--active {
        .loading {
            transition: opacity 1s ease-in;
            background: transparent;
            animation: box-fill 1s;
            animation-delay: 4s;
            animation-fill-mode: forwards;

            &__part {
                background-color: transparent;

                &::after {
                    height: 0;
                    background: var(--dark-orange);
                    animation: part-fill 1s, part-clear 1s;
                    animation-fill-mode: forwards;
                }

                &--1 {
                    &::after {
                        animation-delay: 0s, 4s;
                        background: linear-gradient(322deg, var(--light-orange) 0%, var(--medium-orange) 85%);
                    }
                }

                &--2 {
                    &::after {
                        animation-delay: 1s, 4s;
                        background: var(--light-orange);
                    }
                }

                &--3 {
                    &::after {
                        animation-delay: 2s, 4s;
                        background: linear-gradient(210deg, var(--light-orange) 0%, var(--medium-orange) 85%);
                    }
                }

                &--4 {
                    &::after {
                        animation-delay: 3s, 4s;
                        background: var(--medium-orange);
                    }
                }
            }
        }
    }

    &--inactive {
        animation: disappear .5s;
        animation-fill-mode: forwards;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes part-fill {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes part-clear {
    from {
        background: transparent;
    }

    to {
        background: var(--white);
    }
}

@keyframes box-fill {
    from {
        opacity: 0;
    }

    to {
        background: linear-gradient(322deg, var(--dark-orange) 0%, var(--medium-orange) 85%);
        opacity: 1;
    }
}