@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


* {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // Base primary color
    --medium-orange: #ffa400;
    // Darken primary color
    --dark-orange: #ff653a;
    // Lighten primary color
    --light-orange: #ff7a00;
    // White primary color
    --white-orange: #ffdfcf;

    // Base black
    --medium-black: #202020;
    // Darken black
    --dark-black: #121212;
    // Lighten black
    --light-black: #4c4c4c;

    // Base gray
    --medium-gray: #adadad;
    // Darken gray
    --dark-gray: #8f8f8f;
    // Lighten gray
    --light-gray: #d9d9d9;

    // Base white
    --medium-white: #ffffff;
    // Darken white
    --dark-white: #ededed;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--medium-white);
}

@media (prefers-color-scheme: dark) {
    * {
        color: var(--dark-white);
    }

    body {
        background-color: var(--dark-black);
    }
}